.container {
    margin: 0%;
    padding: 0%;

}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
}


.div>header ul {
    list-style-type: none;
    justify-content: right;
    padding: 30px;
    background-color: white;

}

.header {
    display: flex;

    justify-content:space-around;
    /* margin-left: 70px; */
    align-items: center;
    margin-top: 48px;
    padding:25px;
}
/* #home{ */
    /* width:592px; */
    /* height:600px; */
.button li {
    display: inline;
    float: left;
    justify-content: space-between;
}

.button li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 100;

}
.button{
    display: flex;
}

.page-content {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

    
.div .width-50{
    background-color: #420cd8;
    color: rgb(17, 16, 16);
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
.features{
    display: flex;
    justify-content: center;
    font-size:large;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.col1{
  display: flex;
  align-content: baseline;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.blog{
   justify-content: center;
   display: flex;
   align-items: center;
   text-align: center;
   margin-top:27px;
   margin-bottom: 17px;
}

.bloghead{
    display:flex;
    justify-content: center;
}
.posthead{
    display: flex;
    margin: 10px;
}
.card{
    margin-right:10px;
}
.News-lettter{
    
    font-size: larger;
    display: flex;
    justify-content: center;
    margin:5px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.subscription {
    display: flex;
    padding:10px;
}
.news{
    background-color: rgb(211, 226, 231);
    border-radius: 10px;
    padding:20px;
    width:50%;
}
.section1{
    margin-left: 350px;
    margin-top: auto;
}

.companies{
   margin: 50px;
   padding: 30px;
   justify-content: center;
   text-align: center;
}
/* .company-parent{
display: flex;
justify-content: center; */

.links{
    color: black;
   display: flex;
    text-decoration: none;
    line-height: 25px;
}
ul:first-child{
    color: black;
    margin: 5px;
    padding:5px;
}
.product{
 list-style-type: none;

}
.ul{
    list-style-type: none;
}
.text-decoration a{ 
    text-decoration: none;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.business{
   display: flex;
   justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
}
.section2{
    padding:5px;
    line-height: 5px;
    margin-top:53px;
    margin-bottom:30px
   
}
.front-text{
 margin-top:47px;
}
@media screen and (max-width: 768px) {
 .page-content {
    display: block;
    margin-left: 40%;
    margin-right: 13%;
  }
}
@media screen and (max-width:768px){
    .col1{
        display: block;
        margin-left: 114px;
        
    }
}
@media screen and (max-width:768px){
    .gallery{
        display: block;
        margin-left:90px;
        padding:2px;
        margin-right: 52px;
        
    }
}
@media screen and (max-width:768px){
    .features{
        display: block;
        font-size: 30px;
        margin-right: 63px;
        
    }
}